<div id="comment_<%= comment.id %>" class="comment-item">
  <%= link_to comment_path(comment), class: "remove-sign", method: :delete, remote: true, data: { confirm: 'Are you sure?' }  do %>
    <i class="icon-remove-sign"></i> x
  <% end %>

  <p>
    <% user = comment.user %>
    <strong><%= "#{user.first_name} #{user.last_name}" %></strong>
    <%= comment.body %>
  </p>

  <p><%= render 'likes/like_link', likeable: comment %></p>
  
  <span>
  </span>
</div>