<%= form_for([@idea, @comment], remote: true) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
  <%= button_tag(type: 'submit', class: "button-submit") do %>
    <i class="fa fa-arrow-right"></i>
  <% end %>

  <div class="field-body">
    <%= f.text_area :body %>
  </div>

  <%= f.hidden_field :idea_id %>

  

  </div>
<% end %>
